{% load flatpages %}
{% get_flatpages as flatpages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ flatpage.title }}</title>
    <style>
        ul.menu {
            margin: 0; /* Обнуляем значение отступов */
            padding: 4px; /* Значение полей */
        }
        ul.menu li {
            display: inline; /* Отображать как строчный элемент */
            margin-right: 5px; /* Отступ слева */
            padding: 3px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>
    <ul class="menu">
        <li><a href="/">Главная</a></li>
        {% for page in flatpages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    <hr>
    <h3>{{ flatpage.content }}</h3>
</body>
</html>