{% extends "main/base.html" %}
{% block title %} Номера {% endblock %}

{% block content %}
<div class="row">
    <div class="col-9">
<h3>Номера</h3>
<ul>
    {% for room in rooms %}
    <li>
        <a href="{% url 'room-detail' room.pk %}">{{ room.id }}</a>. Номер комнаты - {{room.number }}, аренда - {{ room.rental }} руб./сутки
    </li>
    {% endfor %}
</ul>
{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{{ tag_url }}page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
        </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?{{ tag_url }}page={{ i }}">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?{{ tag_url }}page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{{ tag_url }}page={{ page_obj.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
    </div>
    <div class="col-3">
        <h3>Tags</h3>
        {% for tag in tags_list %}
        <a href="{% url 'rooms-list' %}?tag={{ tag }}" class="badge badge-secondary">{{ tag }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}